body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Asegura que no haya scroll no deseado */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%; /* Limita el ancho máximo del contenido */
}

.text {
    color: blueviolet;
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Sombra del texto para mejor legibilidad */
    white-space: normal; /* Permite que las palabras se envuelvan */
    overflow-wrap: break-word; /* Permite que las palabras largas se dividan adecuadamente */
}

.center-image, .center-gif {
    margin: 1px 0;
    max-width: 30%;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

button#prev {
    background-color: red;
}

button#next {
    background-color: green;
}

button#start {
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
    0% { background-color: blue; }
    100% { background-color: purple; }
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateX(100px); }
    to { opacity: 1; transform: translateX(0); }
}

.text span {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.hidden {
    display: none;
}
